@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="text-center">
        <h1 class="display-4">TEST REPORTE</h1>


        <a id="btnPrint" class="btn btn-success" href="../Home/Print" target="_blank">PRINT</a>

    </div>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">SISTEMA PARA EVALUACIÓN DEL DESEMPEÑO</h1>
        <p class="lead">Permite realizar evaluaciones de funcionarios y servidores publicos de TELCOR para medir el cumplimiento de sus actividades.</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">



            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>

        </div>
        <div class="col-md-4">
           
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>

        </div>
        <div class="col-md-4">



            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>

        </div>
    </div>
</div>




