@model EvalCore.Models.Evaluacion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">  <i class="icon-head"></i>  Crear Periodo </h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <a asp-action="Index" class="btn btn-danger">Listado</a>
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body collapse in" aria-expanded="true" style="">
            <div class="card-block card-dashboard">

                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Periodoinicial" class="control-label"></label>
                                <input type="date" asp-for="Periodoinicial" class="form-control"  placeholder=""/>
                                <span asp-validation-for="Periodoinicial" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Periodofinal" class="control-label"></label>
                                <input type="date" asp-for="Periodofinal" class="form-control" />
                                <span asp-validation-for="Periodofinal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fecha" class="control-label"></label>
                                <input type="date" asp-for="Fecha" class="form-control" />
                                <span asp-validation-for="Fecha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Usuario" class="control-label"></label>
                                <input asp-for="Usuario" class="form-control" />
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Estado" class="control-label"></label>
                                @*<input type="" asp-for="Estado" class="form-control" />*@
                            <select asp-for="Estado" class="form-control">
                                <option value="false">Seleccione</option>
                                <option value="true">true</option>
                                <option value="false">false</option>

                            </select>
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>





<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
